@import "../mixins.scss";
@import "../variables.scss";

.main-footer__wrapper {
  padding: 0 30px 31px;
  background-color: $color-seashell;
}

.main-footer__link {
  @include open-sans-bold(19px, 18px);
  text-decoration: none;
  color: $color-black;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 27px;
}

.main-footer__social {
  border-bottom: 1px solid $color-mercury;
  margin-bottom: 29px;
}
