.main-nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.main-nav__text-delivery {
  display: none;
}

.main-nav__list {
  @include open-sans-bold(17px, 24px);
  list-style-type: none;
  padding: 0;
  background-color: $color-white;
}

@media (min-width: $tablet-width) {
  .main-nav {
    position: static;
    width: auto;
  }

  .main-nav__text-delivery {
    @include open-sans(15px, 24px);
    top: 105px;
    right: 40px;
    z-index: 10;
    position: absolute;
    display: block;
    background: transparent;
  }
}
