@import "../variables.scss";

// .main-header__wrapper {
//   padding: 0 30px;
// }

.main-header__inner {
  padding: 22px 30px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid $color-gallery;
}

.main-header__link-bear-logo {
  margin-right: 50%;
  transform: translateX(50%);
}

.main-header__toggle {
  position: relative;
  width: 20px;
  height: 14px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.main-header__wrapper--open .main-header__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 26px;
    height: 2px;
    background-color: $color-thunder;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-header__wrapper--closed .main-header__toggle::before {
  content: "";
  position: absolute;
  top: 55%;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: $color-thunder;
  box-shadow: 0 8px 0 0 $color-thunder, 0 16px 0 0 $color-thunder;
}

.main-header__wrapper--nojs .main-header__toggle {
  display: none;
}

.main-header__wrapper--nojs .main-header__main-nav-list {
  position: static;
  // min-height: 0;
}

@media (max-width: $mobile-width-only) {
  .main-header__wrapper--closed .main-header__main-nav-item {
    display: none;
  }
}

.main-header__wrapper--nojs .main-header__main-nav-item {
  display: block;
}
