@import "../variables.scss";
@import "../mixins.scss";

.promo__wrapper {
  padding: 73px 30px 120px;
  background:#f9f9f9 url("../img/hero-mobile.jpg") no-repeat;
  background-position: center -16px;
  background-size: 568px 373px;
}

.promo__title {
  @include open-sans-bold(27px, 30px);
  text-align: center;
  max-width: 270px;
  margin: 0 auto;
}

.promo__thing {
  @include open-sans-bold(19px, 24px);
  position: relative;
  display: block;
  min-height: 103px;
  padding: 24px 130px 31px 30px;

  &::before {
    position: absolute;
    content: "";
    background-size: contain;
  }
}

.promo__link {
  color: $color-white;
  text-decoration: none;
  border: none;
  padding: 0;
  text-align: left;
}

.promo__thing--toys {
  background-color: $color-fountain-blue;

  &::before {
    width: 60px;
    height: 60px;
    background-image: url("../img/interior-decor/toy.svg");
    background-size: contain;
    right: 27px;
  }
}

.promo__thing--interior {
  background-color: $color-downy;

  &::before {
    width: 40px;
    height: 62px;
    background-image: url("../img/interior-decor/lamp.svg");
    right: 36px;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    position: relative;
  }

  .promo__title {
    @include open-sans-bold(43px, 50px);
    max-width: 668px;
    margin: 0 auto;
  }

  .promo__wrapper {
    padding: 91px 50px 160px;
    background: #f9f9f9 url("../img/hero-desktop.jpg") no-repeat;
    background-position: center -16px;
    background-size: 771px 746px;
    min-height: 746px;

    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 24px;
      background: url("../img/icons/stack.svg#frame") repeat;
      background-position: bottom;
      background-size: 36px 24px;
    }
  }

  .promo__inner {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 50px;
    right: 50px;
    min-height: 119px;
  }

  .promo__thing {
    @include open-sans-bold(20px, 30px);
    padding: 25px 167px 50px 36px;
    text-transform: none;
  }
}
